*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 50px;
    background-color: #222222;
}
#main nav{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 100%;
}
.burguer-menu{
    display: none;
}
.log-ul{
    display: flex;
    flex-wrap: wrap;
}
.log{
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    height: 50px;
    padding: 15px;
}
.log-ul h3{
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #9d9d9d;
    height: 50px;
    margin: 0px;
}
.log-ul .log span{
    font-size: 18px;
}
.log-ul span{
    color: #9d9d9d;
}
.log-ul .nav-ul ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    width: 316.76px;
    margin: 0px;
}
.log-ul .nav-ul li{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 15px;
}
.home{
    display: flex;
    align-items: center;
    background-color: black;
    height: 50px;
    padding: 15px;
}
.log-ul .nav-ul .home a{
    color: white;
}
.log-ul .nav-ul a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9d9d9d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.log-ul .log .logo-icon span:hover, .log-ul  h3:hover, .log-ul .nav-ul a:hover{
    color: white;
    text-decoration: none;
}
.engage-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 288.9px;
    background-color: #9ACD32;
    padding: 48px 0px;
    margin-bottom: 30px;
}
.eng-sect-h1 h1{
    text-align: center;
    color: #ADFF2F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 63px;
}
.eng-sect-p p{
    text-align: center;
    color: #ADFF2F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
.engage-section .engage-bttn{
    width: 105.78px;
    height: 33.6px;
    padding: 6px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    background-color:  #337ab7;
    color: white;
    border: none;
}
.superior-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 611px;
}
.ss-h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.ss-h1 h1{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 36px;
    text-align: center;
}
.ss-p{
    width: 1140px;
    height: fit-content;
}
.ss-p p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    color: #959595;
}
.imgs-container{
    display: flex;
    width: 1170px;
    height: 491.4px;
}
.img-description{
    padding: 0px 15px;
    margin-bottom: 25px;
}
.img-700x300{
    width: 360px;
    height: 300px;
    border-radius: 6px;
}
.img-description h3{
    text-align: center;
    color: #337ab7;
}
.img-description p{
    text-align: center;
    color: #959595;
}
.last-section{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 430px;
    background-color: #DAA520;
    padding-top: 30px;
    padding-bottom: 30px;
}
.imgs100-container{
    display: flex;
    justify-content: center;
    width: 1170px;
    height: 370px;
}
.img100-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 370px;
    padding: 30px;
}
.img100-description h3{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.img100-description p{
    text-align: center;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.img-100x100{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.last-sect-bttns{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
}
#main footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 30px 0px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    width: 1170px;
    height: 60px;
    padding: 0px 15px;
}
.footer-container ul{
    width: 1140px;
    height: 20px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 10px;
}
.footer-container li{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px 5px;
    border-right: 1.5px solid #959595;
    height: 15px;
}
.footer-container a{
    color: #337ab7;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.footer-container li:last-child{
    border-right: none;
}
.footer-container p{
    display: flex;
    justify-content: center;
    color: #959595;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

@media (max-width: 1160px) {
    #main {
        width: 100vw;
        height: fit-content;
    }
    header,
    nav{
        width: 100%;
        height: fit-content;
    }
    #nav-bar{
        display: flex;
        justify-content: space-between;
        width: auto;
    }
    .burguer-menu{
        display: none;
    }
    .log-ul{
        display: flex;
    }
    .log-ul .log{
        display: flex;
        width: fit-content;
    }
    .nav-ul{
        width: fit-content;
        height: fit-content;
    }
    .engage-section,
    .eng-sect-h1,
    .eng-sect-p,
    .superior-section,
    .imgs-container,
    .last-section,
    .imgs100-container {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .log {
        width: 100%;
        justify-content: center;
    }
    .log-ul h3 {
        text-align: center;
    }
    .log-ul ul {
        justify-content: space-around;
        width: 100%;
    }
    .ss-h1{
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }    
    .ss-p{
        width: 60%;
    }
    .img-description {
        width: 74%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-700x300 {
        width: 100%;
    }
    .imgs-container {
        justify-content: center;
    }
    .img100-description {
        width: 100%;
        max-width: 390px;
    }
    .footer-container {
        width: 100%;
        max-width: 1170px;
    }
    .footer-container ul {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #nav-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #nav-bar .burguer-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #333333;
        border-radius: 4px;
        padding: 9px 10px;
        width: 43.6px;
        height: 33.6px;
    }
    #nav-bar .burguer-menu .icon-bar{
        width: 22px;
        border: 2px solid white;
        margin-top: 4px;
        border-radius: 1px;
    }
    #nav-bar .burguer-menu .icon-bar:first-child{
        margin-top: none;
    }
    .log-ul .nav-ul ul{
        display: none;
    }
    .search-navbar{
        display: none;
    }   
    .eng-sect-h1 h1 {
        font-size: 48px;
    }   
    .eng-sect-p p {
        font-size: 18px;
    }
    .img-700x300 {
        height: auto;
    }
    .imgs100-container {
        flex-direction: column;
    }
}